body{
	font-family: Helvetica,Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
.pane{
	width:300px;
	height:250px;
	overflow:hidden;
	display:block;
	float:left;
	position:relative;
	margin:25px;
}
.pane-info{
	height:100%;	
	width:100%;
	background:rgba(255, 255, 255, 0.5);
	display:none;
	padding:100px 0;
	position:absolute;
	text-align:center;
}
.pane-info h1, .pane-info p{
	text-align:center;
}
.pane.rotate > .pane-info{
	display:block;
	opacity:0;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);

	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}
.pane.rotate:hover > .pane-info{
	display:block;
	opacity:1;

	transform:rotate(0);
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
}
